@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<CascadingValue Value="@Resposta">
    <Pergunta></Pergunta>
</CascadingValue>

@code {
    string Resposta = "Amar a Deus acima de todas as coisas";
}
